#pokemon_card {
    width: 200px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    margin: 5px;
    background-color: #fff;
    cursor: pointer;
}

#pokemon_card > img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-bottom: 5px;
    background-color: #F2F2F2;
    border-radius: inherit;
}

.pokemon_card_preview_info {
    width: 100%;
    padding: 10px;
}

.pokemon_card_preview_info > h3 {
    font-size: .9rem;
    margin-bottom: 5px;
}

.pokemon_card_preview_info > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pokemon_card_preview_info > div > * {
    margin: 2px;
}