#pokemons_page_container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

#pokemons_page_container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    background-color: #00B77E;
    transform: skewY(-5deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    height: 600px;
}